{{define "events_new.html"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    {{template "base_head" .}}
  </head>
  <body>
    {{template "base_nav" .}}
    <div class="container my-4">
      <h2 class="mb-4">Create New Event</h2>
      <div id="new-event-form-container">
        {{template "events_new_form.html" .}}
      </div>
    </div>
    {{template "base_mobile_tabs" .}}
    <div id="app-toast" class="app-toast" aria-live="polite"></div>
    {{template "base_scripts" .}}
  </body>
</html>
{{end}}
